@import "body.css";
@import "nav.css";
/* @import "transition.css"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

head {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0%;
  padding-top: 6rem;
  height: auto;
}
