@import "body.css";
@import "nav.css";
/* @import "transition.css"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

head {
  margin: 0%;
  padding: 0%;
}

body {
  margin-top:4%;
  height: auto;
  width: 100%;
}
input{
  border-radius: 2rem;
  height: 15%;
  width:29%;
}
button{
  border: none;
}
:placeholder-shown {
  padding-left: 2%;
}
