* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
  scroll-behavior: smooth;
}

/*nav bar*/
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 92px;
    background-color: maroon;
  }
  
  h1 {
    margin-right: auto;
  }
  
  h1 a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
  }


  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #B89750;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #B89750;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #ffffff;
    color: #B89750;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
/*body*/
head{
  margin: 0%;
  padding: 0%;
}
body{
  margin: 0%;
  padding: 0%;
}

#buddha{
   height:fit-content;
   width:100%;
   margin: 0%;
}
/*legacy of indian art forms*/

.block{
 float: left;
  height:20px;
  width: 306px;
  background-color: maroon;
  margin-left: 92px;
}

#lady{float: left;
  height: fit-content;
  width:312px;
  margin-left: -253px;
  margin-top:220px;
  margin-right: 86px;
  filter: drop-shadow(6px 9px 10px black);
  box-shadow: -50px -57px maroon;
}

.parra{
  height: 855px;
  width: 100%;
  background-color: #e2e2e2;
  margin-top: -4px;
}

#heading1 {
  padding: 123px;
  font-size: 50px;
  font-family: noto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: maroon;
  text-decoration: none;
}

#parra1{
  margin-top: -98px;
}

#parra1 p{
  padding: 1rem;
  font-size: 26px;
}


/* who we are */

.who{
  height:600px;
  width: 100% ;
  background-color: #f7f7e3;
  opacity: 1;
  padding-top: 64px;
  padding-left: 12px;
}

.block-2{
  float:right;
  height:20px;
  width: 350px;
  background-color: maroon;
  margin-right: 101px;
}

#Picture2{
  float: right;
  height: fit-content;
  width: 350px;
  margin-top: 60px;
  margin-right: 151px;
  filter: drop-shadow(6px 9px 10px black);
  box-shadow: 50px -30px maroon;
}

#heading2{
  padding: 20px 100px;
  padding-bottom: 60px;
  text-decoration: none;
  color: maroon;
  font-size: 50px;
  font-family: noto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#parra2{
  padding: 20px 100px;
}

#parra2 p{
  font-size: 30px;
  padding: 0.3rem;
}

#about-us{
  width: 100%;
  background-color:rgb(94, 0, 0);
  position:relative;
  opacity:1;
  z-index: 2;
}

/*mission*/
#BG1{
  position: relative;
  height: 340px;
  width: 100%;
  opacity:.15 ;
  z-index: -1;
}

#parra3{
  margin: 60px 0px 60px 60px;
  justify-content: center;
  position: absolute;
  color: white;
  opacity: 3;
}

#parra3 p{
  margin-left: 85px;
  margin-right: 30px;
  padding: 0px;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}

[class*=" fa-quote-left"] {
  float: left;
  font-size: 60px;
  padding: 0px;
  margin: 0px;
}

[class*=" fa-quote-right"] {
  float: right;
  padding-top:-100px;
  font-size: 70px;
  color: white;
  margin-right: 35rem;
  margin-bottom: 0px;
}

#parra3 .bg-txt{
  float: right;
  margin-top: -120px;
  padding-right: 50px;
  font-size: 150px;
  font-weight: 100;
  position: relative;
  background: linear-gradient(to right, #ffffff 0%, #540101 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
  
.blog{
  width:100%;
  background-color:rgb(211 165 165);;;
  opacity: 0.4;
  position: relative;
  z-index: 0;
}
#BG2{
  position: relative;
  height: 1115px;
  width: 100%;
  opacity: .5;
  z-index: -1;
}

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
